* {
	box-sizing: border-box;
}
body {
color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 14px;
}
a {
color: #000088;
       text-decoration: none;
cursor: pointer;
}

h1{
    margin-bottom: 0.3em;
}

.controls-user{
    margin-bottom: 0.5em;
}

.edit-txt-area{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	    border-color: #727272 #b4b4b4 #dadada;
	    border-image: none;
	    border-left: 1px solid #b4b4b4;
	    border-right: 1px solid #b4b4b4;
	    border-style: solid;
	    border-width: 1px;
	margin-bottom: 0.5em;
	width: 100%;
	height: 4em;
padding: 3px;
}
.control-button-post{
margin-right:0.3em;
}

.edit-buttons-post{
    margin-right: 3em;
    font-size: 100%;
}

.nodeAuth{
 margin: 10% auto 0 auto;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 
padding: 20px ;
overflow: hidden;
border: none;
width: 300px;
z-index: 100;
color: rgba(40,40,40,1);
       -o-text-overflow: clip;
       text-overflow: clip;
background: #0199d9;
	    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3) ;
	    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3) ;
}
.posts{
clear: both;
}
.post {
	border-bottom: 1px solid #eee;
	line-height: 19px;
	padding-bottom: 14px;
	padding-top: 14px;
}
.avatar{
float: left;
       line-height: 0;
}
.title a{
color: #000088;
       font-weight: bold;
}
.post-body {
	margin-left: 63px;
color: #666;
       line-height: 19px;
}
.post-body a {
color: #555599;
}
 .attachments {
	margin-bottom: 3px;
overflow: hidden;
}
.attachment {
    border: 1px solid silver;
    float: left;
    margin: 0 8px 8px 0;
    padding: 1px;
}

.title {
	font-size: 15px;
	margin-bottom: 2px;
}
.post-cont {
	margin-bottom: 3px;
color: #000;
}
.post-date a{
color: #737373;
}

.post-date {
margin-right:1em;
color: #737373;
}
.post-info {
	font-size: 13px;
	line-height: 16px;
}
.post-controls{
display: inline-block;
	margin-bottom: 6px;
}
.post-controls a+a::before{
	content: " - ";
	margin-right: 0.3em;
}

.more-node{
    margin: 0.5em 0;
}

.likes ul{
float: left;
list-style: outside none none;
margin: 0 4px 4px 1.5em;
padding: 0;
}
.post-body .likes ul li {
display: inline;
}

.post-body .likes ul li+li::before {
content: ",";
display: inline-block;
margin-right:.3em;
}

.post-body .likes ul li.nocomma:before {
content: "";
display: inline-block;
margin-right:.3em;
}

.comment-body {
       font-size: 13px;
       line-height: 16px;
	margin-top: 8px;
	margin-left: 21px;
}
.comment-controls a+a::before {
content: " | ";
}
span.comment-controls::after {
content: ")";
}
span.comment-controls::before {
content: "(";
margin-left: 0.3em;
}
.comments {
clear: both;
       font-size: 13px;
       line-height: 16px;
}
.fa-spinner{
    margin-left: 0.5em
}
.likes-smile {

float: left;
height: auto;
width: auto;
font-size: 1.2em;
position: relative;
}

.likes-smile .icon-bg{
line-height: 0.9;
color: #ffb914;
float:left;

}
.likes-smile .icon{
line-height: 0.9;
color:white;
float:left;
}
.comment-date { 
float: left;
       margin-right: 4px;
}

.edit-comment button+a{
	margin-left:0.3em
}
.edit-comment {
	margin-top: 8px;
	margin-left: 21px;
}

