* {
	box-sizing: border-box;
}
body {
color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 14px;
}
a {
color: #000088;
       text-decoration: none;
cursor: pointer;
}

h1{
    margin-bottom: 0.3em;
}
.friends-tip{
	position:absolute;
}
.content{
	max-width: 680;
	width: 100%;
	padding: 0 1em;
	margin: 0 auto;
}
.controls-user{
    margin-bottom: 0.5em;
}

.edit-txt-area{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	    border-color: #727272 #b4b4b4 #dadada;
	    border-image: none;
	    border-left: 1px solid #b4b4b4;
	    border-right: 1px solid #b4b4b4;
	    border-style: solid;
	    border-width: 1px;
	margin-bottom: 0.5em;
	height: 4em;
	width:100%;
padding: 3px;
}
.up-close{
	float:right;
}
.up-avatar{
float:left;
}
.up-info {
display: inline-block;
margin: 0 0.5em;

}
.up-controls{
clear:both;
}
.user-popup{
position:absolute;
background: white none repeat scroll 0 0;
border: thin solid gray;
padding: 0.5em;
margin:1em;


}
.control-button-post{
margin-right:0.3em;
}

.edit-buttons-post{
    margin-right: 3em;
    font-size: 100%;
}

.nodeAuth{
 margin: 10% auto 0 auto;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 
padding: 20px ;
overflow: hidden;
border: none;
width: 300px;
z-index: 100;
color: rgba(40,40,40,1);
       -o-text-overflow: clip;
       text-overflow: clip;
background: #0199d9;
	    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3) ;
	    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3) ;
}
.posts{
clear: both;
}
.post {
	border-bottom: 1px solid #eee;
	line-height: 19px;
	margin-bottom: 14px;
	margin-top: 14px;
	transition-property: height ; 
	transition-duration: 5s;
	overflow:hidden;
}
.avatar{
float: left;
       line-height: 0;
       margin-right: 10px;
       margin-bottom: 5px;
}
.title a{
color: #000088;
       font-weight: bold;
}
.post-body {
color: #666;
       line-height: 19px;
}
@media (min-width: 400px) {
	.post-body {
		margin-left: 63px;
	}
}
.post-body a {
color: #555599;
}
 .attachments {
	margin-bottom: 3px;
clear: both;
overflow: hidden;
}
.attachment {
    border: 1px solid silver;
    float: left;
    margin: 0 8px 8px 0;
    padding: 1px;
}
.att-audio{
	clear:both;
	margin-bottom: 0.5em;
}
.title {
	font-size: 15px;
	margin-bottom: 2px;
}
.post-cont {
	margin-bottom: 3px;
color: #000;
}
.post-date a{
color: #737373;
}

.post-info {
	font-size: 13px;
	line-height: 16px;
}
.post-controls{
display: inline-block;
	margin-bottom: 6px;
}
.spacer{
	margin-right: 0.3em;
	margin-left: 0.3em;
}

.more-node{
    margin: 0.5em 0;
}

.likes ul{
float: left;
list-style: outside none none;
margin: 0 4px 4px 1.5em;
padding: 0;
}
.post-body .likes ul li {
display: inline;
}

.post-body .likes ul li+li::before {
content: ",";
display: inline-block;
margin-right:.3em;
}
.confirm-button{
margin-right: 3em;
}
.title a+a::before{
content: ",";
display: inline-block;
margin-right:.3em;
}
.post-body .likes ul li.nocomma:before {
content: "";
display: inline-block;
margin-right:.3em;
}

.comment-body {
       font-size: 13px;
       line-height: 16px;
	margin-top: 8px;
	margin-left: 21px;
}
span.comment-controls::after {
content: ")";
}
span.comment-controls::before {
content: "(";
margin-left: 0.3em;
}
.comments {
clear: both;
       font-size: 13px;
       line-height: 16px;
}
.fa-spinner{
    margin-left: 0.5em
}
.likes-smile {

float: left;
height: auto;
width: auto;
font-size: 1.2em;
position: relative;
}

.likes-smile .icon-bg{
line-height: 0.9;
color: #ffb914;
float:left;

}
.likes-smile .icon{
line-height: 0.9;
color:white;
float:left;
}
.comment-date { 
float: left;
       margin-right: 4px;
}

.edit-comment button+a{
	margin-left:0.3em
}
.edit-comment {
	margin-top: 8px;
	margin-left: 21px;
}

.priv-dlg-login {
margin: auto;
position: absolute;
top: 3em;
width:300px;
background-color: #abf;
left: 0;
right: 0;
padding:1em;
border: thin solid black;
}
.private-control {
margin: auto;
position: absolute;
top: 3em;
width:300px;
background-color: #abf;
left: 0;
right: 0;
padding:1em;
border: thin solid black;
display: hidden;
}
.priv-inv-name{
width:100%;
}

.priv-submit{
margin:1em;
}
.priv-dlg-share{
margin: auto;
position: absolute;
top: 4em;
border: thin solid black;
width:200px;
background-color: #abf;
left: 0;
right: 0;
padding:1em;
}


.priv-new-user{
margin: auto;
position: absolute;
top: 4em;
border: thin solid black;
width:200px;
background-color: #abf;
left: 0;
right: 0;
padding:1em;
}
.priv-pass-submit{
margin:1em;
}
.priv-pass-cancel{
margin:1em;
}
.private-control button {
	margin:1em;
}
.private-control > * {
display: table;
	margin-bottom: .5em;
	margin-left:auto;
	margin-right:auto;

left: 0;
right: 0;

}
.priv-key-input {
height: 1.5em;
}

.priv-close{
float:right;

}
.priv-header{font-size:x-large; clear: both; text-align: center;}
.private-control p{text-align:center}
.friends-tip{
	background-color:white;
	border: thin solid #d8d8d8;
	padding: 3;
}
.ft-list{
	margin:0;
	padding:0;
}
.ft-i{
box-sizing: border-box;
display: block;
cursor: pointer;
 margin-top: 0.7em;

}
.new-post-to{
margin-top: 1.5em;
margin-bottom: 0.3em;
}
.new-post-feed{
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    margin-right:0.3em;
    box-sizing: border-box;
	margin-top: 5px;
	padding: 0 5px;
	border-radius: 4px;
	display:inline;
cursor: pointer;
}
.new-post-feeds{

	display:inline;
	margin-left:0;
	padding:0;
}
.rt-controls{
	margin: .5em 0;

}
