@import "main.css";
@import "compact_addons.css";
.pagetitle {
	border-top: 1px solid #ccc;
	margin-top: 0;
}
.post {
	margin-bottom: 1.17em;
	margin-top: 0.7em;
	transition-property: height ;
	transition-duration: 5s;
	background-color:white;
}
.post-body {
	color: #666;
	line-height: 19px;
	padding-bottom:.3em;
	margin-bottom: .3em;
}
.add-sender {
	display: block;
	margin-bottom: .5em;
	text-align: right;
	width: 100%;
}
